<!-- views/shipment/shipment-tracking.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track Your Shipment</title>
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/customer/customerTrackingShipment.css">
    <link rel="stylesheet" href="/styles/utils/customAlert.css">
</head>
<body>
<div class="shipment">
    <header class="shipment-header">
        <div class="shipment-header-brand">
            <img class="shipment-header-logo" src="../../imgs/PLS.png" alt="Passage Logistics Systems">
        </div>
    </header>
    <main class="shipment-body">
        <div class="shipment-body-shipment-display">
            <form class="shipment-body-shipment-form">
                <div>
                    <label for="customer-name">Customer </label>
                    <input type="text" id="customer-name" readonly>
                </div>
                <div>
                    <label for="cargo-name">Cargo </label>
                    <input type="text" id="cargo-name" readonly>
                </div>
                <div>
                    <label for="cargo-quantity">Quantity </label>
                    <input type="number" id="cargo-quantity" readonly>
                </div>
                <div>
                    <label for="cargo-type">Cargo type </label>
                    <input type="text" id="cargo-type" readonly>
                </div>
                <div>
                    <label for="shipping-status">Shipping status </label>
                    <input type="text" id="shipping-status" readonly>
                </div>
                <div>
                    <label for="delivery-date">Delivery date </label>
                    <input type="datetime-local" id="delivery-date" readonly>
                </div>
                <div>
                    <label for="shipping-from">Shipping from </label>
                    <input type="text" id="shipping-from" readonly>
                </div>
                <div>
                    <label for="shipping-to">Shipping to </label>
                    <input type="text" id="shipping-to" readonly>
                </div>
                <div>
                    <label for="operator-name">Operator </label>
                    <input type="text" id="operator-name" readonly>
                </div>
            </form>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-profile-section">
            <a href="https://github.com/mohammedsaji/mohammedsaji" target="_blank" rel="noopener noreferrer">GitHub </a>
            <a href="http://www.linkedin.com/in/mohammed-shajith-e" target="_blank" rel="noopener noreferrer"> LinkedIn </a>
            <a href="mailto:althafshajid@gmail.com"> Gmail </a>
        </div>
        <p>&copy; 2026 Passage Logistics Systems. All rights reserved.</p>
    </footer>
</div>
<div id="custom-alert" class="custom-alert">
    <div class="custom-alert-box">
        <div id="custom-alert-message" class="custom-alert-message"></div>
        <button type="button" id="custom-alert-close">OK</button>
    </div>
</div>
<script src="../../js/utility/customAlert.js"></script>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/customer/customerShipmentTracking.js"></script>
</body>
</html>