<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle list</title>
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/vehicle/vehicleList.css">
    <link rel="stylesheet" href="/styles/utils/customAlert.css">
</head>
<body>
<div class="vehicle">
    <header class="vehicle-header">
        <div class="vehicle-header-brand">
            <img class="vehicle-header-logo" src="../../imgs/PLS.png" alt="Passage Logistics Systems">
        </div>
        <div class="vehicle-header-actions">
            <div class="vehicle-header-section-a">
                <button type="button" id="dashboard-btn">Dashboard</button>
            </div>
            <div class="vehicle-header-section-b">
                <nav class="vehicle-navigation" aria-label="Vehicle navigation">
                    <div class="vehicle-navigation-group">
                        <button type="button" id="vehicle-navigation-btn">Vehicle</button>
                        <div class="vehicle-navigation-menu" id="vehicle-navigation-menu">
                            <a href="#" id="create-vehicle-btn">Create Vehicle</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="vehicle-body">
        <div class="vehicle-body-search">
            <input id="search" type="text" placeholder="Search by vehicle number" maxlength="50">
            <button id="search-btn">Search</button>
        </div>
        <div class="vehicle-body-list">
            <div id="vehicle-list-container">
                <!-- Vehicle items will be rendered here -->
            </div>
        </div>
        <div class="vehicle-body-pagination">
            <button id="previous-page-btn">Previous page</button>
            <button id="next-page-btn">Next page</button>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-profile-section">
            <a href="https://github.com/mohammedsaji/mohammedsaji" target="_blank" rel="noopener noreferrer">GitHub </a>
            <a href="http://www.linkedin.com/in/mohammed-shajith-e" target="_blank" rel="noopener noreferrer"> LinkedIn </a>
            <a href="mailto:althafshajid@gmail.com"> Gmail </a>
        </div>
        <p>&copy; 2026 Passage Logistics Systems. All rights reserved.</p>
    </footer>
</div>
<div id="custom-alert" class="custom-alert">
    <div class="custom-alert-box">
        <div id="custom-alert-message" class="custom-alert-message"></div>
        <button type="button" id="custom-alert-close">OK</button>
    </div>
</div>
<script src="../../js/utility/customAlert.js"></script>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/vehicle/vehicleList.js"></script>
</body>
</html>