.transport-type {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.transport-type-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    gap: 24px;
}

.transport-type-header-brand {
    display: flex;
    align-items: center;
}

.transport-type-header-logo {
    max-width: 10rem;
    height: auto;
}

.transport-type-header-actions {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.transport-type-header-section-a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.transport-type-header-section-a button {
    width: auto;

    background: transparent;
    color: var(--text);
    border: var(--border-width) solid var(--text);
    transition: background-color 0.2s ease, color 0.2s ease;
}

.transport-type-header-section-a button:hover {
    background-color: #ffffff;
    color: #000000;
    opacity: 1;
}

/* Body */

.transport-type-body {
    flex: 1;
    padding: 10rem 5rem;
}

/* Transport type options */

.transport-type-body-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.transport-type-body-options button {
    width: auto;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 1.25rem;
    font-weight: bold;
    padding:2rem 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    background: var(--bg);
    background: linear-gradient(90deg, #3b7dde, #9b6fd6);
    transition: transform 0.2s ease;
    border-radius: 2.5px;
}

.transport-type-body-options button svg {
    width: 3.5rem;
    height: 3.5rem;
    stroke: white;
}

/* Top-left card: bulge up and left */
.transport-type-body-options button:nth-child(1):hover {
    transform: scale(1.05) translate(-10px, -10px);
}

/* Top-right card: bulge up and right */
.transport-type-body-options button:nth-child(2):hover {
    transform: scale(1.05) translate(10px, -10px);
}

/* Bottom-left card: bulge down and left */
.transport-type-body-options button:nth-child(3):hover {
    transform: scale(1.05) translate(-10px, 10px);
}

/* Bottom-right card: bulge down and right */
.transport-type-body-options button:nth-child(4):hover {
    transform: scale(1.05) translate(10px, 10px);
}