<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operator Management</title>
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/operator/operator.css">
    <link rel="stylesheet" href="/styles/utils/customAlert.css">
</head>

<body>
<div class="operator">
    <header class="operator-header">
        <div class="operator-header-brand">
            <img class="operator-header-logo" src="../../imgs/PLS.png" alt="Passage Logistics Systems">
        </div>

        <div class="operator-header-actions">
            <div class="operator-header-section-a">
                <button type="button" id="dashboard-btn">Dashboard</button>
            </div>

            <div class="operator-header-section-b">
                <nav class="operator-navigation" aria-label="Operator navigation">
                    <div class="operator-navigation-group">
                        <button type="button" id="operator-navigation-btn">Operator</button>

                        <div class="operator-navigation-menu" id="operator-navigation-menu">
                            <a href="#"  id="operator-list-btn">Manage Operators</a>
                            <a href="#"  id="create-operator-btn">Create Operator</a>
                            <a href="#"  id="view-managers-btn">View Managers</a>
                            <a href="#"  id="view-drivers-btn">View Drivers</a>
                            <a href="#"  id="create-vehicle-btn">Create Vehicle</a>
                            <a href="#"  id="view-vehicles-btn">View Vehicles</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <main class="operator-body">
        <div class="operator-body-operator-display">
            <form class="operator-body-operator-form">
                <div>
                    <label for="operator-id">Operator Id :</label>
                    <input id="operator-id" type="text" readonly>
                </div>
                <div>
                    <label for="operator-name">Operator Name :</label>
                    <input id="operator-name" type="text" maxlength="250" required>
                </div>
                <div>
                    <label for="operator-transport-type">Transportation Mode :</label>
                    <input id="operator-transport-type" readonly>
                </div>
                <div>
                    <label for="operator-manager">Operator Manager Id :</label>
                    <input id="operator-manager" type="number" readonly required>
                </div>
                <div>
                    <label for="operator-created-at">Operator created at :</label>
                    <input id="operator-created-at" type="datetime-local" readonly required>
                </div>
                <div>
                    <label for="operator-updated-at">Operator updated at :</label>
                    <input id="operator-updated-at" type="datetime-local" readonly required>
                </div>
                <div>
                    <label for="operator-updated-by">Operator updated by :</label>
                    <input id="operator-updated-by" type="number" readonly required>
                </div>
            </form>
        </div>
        <div class="operator-body-operator-actions">
            <button type="button" id="update-btn">Update</button>
            <button type="button" id="delete-btn">Delete</button>
        </div>
        <div class="operator-body-common-actions">
            <button type="button" id="proceed-btn">Proceed</button>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-profile-section"><a href="https://github.com/mohammedsaji/mohammedsaji" target="_blank" rel="noopener noreferrer">GitHub </a>
            <a href="http://www.linkedin.com/in/mohammed-shajith-e" target="_blank" rel="noopener noreferrer"> LinkedIn </a>
            <a href="mailto:althafshajid@gmail.com"> Gmail </a>
        </div>
        <p>&copy; 2026 Passage Logistics Systems. All rights reserved.</p>
    </footer>
</div>
<div id="custom-alert" class="custom-alert">
    <div class="custom-alert-box">
        <div id="custom-alert-message" class="custom-alert-message"></div>
        <button type="button" id="custom-alert-close">OK</button>
    </div>
</div>
<script src="../../js/utility/customAlert.js"></script>
<script src="../../js/utility/utility.js"></script>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/operator/operator.js"></script>
</body>
</html>