<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operator list</title>
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/operator/operatorList.css">
    <link rel="stylesheet" href="/styles/utils/customAlert.css">
</head>
<body>
<div class="operator">
    <header class="operator-header">
        <div class="operator-header-brand">
            <img class="operator-header-logo" src="../../imgs/PLS.png" alt="Passage Logistics Systems">
        </div>
        <div class="operator-header-actions">
            <div class="operator-header-section-a">
                <button type="button" id="dashboard-btn">Dashboard</button>
            </div>
            <div class="operator-header-section-b">
                <nav class="operator-navigation" aria-label="Operator navigation">
                    <div class="operator-navigation-group">
                        <button type="button" id="operator-navigation-btn">Operator</button>
                        <div class="operator-navigation-menu" id="operator-navigation-menu">
                            <a href="#" id="create-operator-btn">Create Operator</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="operator-body">
        <div class="operator-body-search">
            <label for="search">Search operator :</label>
            <input id="search" type="text" placeholder="Search by operator name" maxlength="250">
            <button id="search-btn">Search</button>
        </div>
        <div class="operator-body-list">
            <div id="operator-list-container">
                <!-- Operator items will be rendered here -->
            </div>
        </div>
        <div class="operator-body-pagination">
            <button id="previous-page-btn">Previous page</button>
            <button id="next-page-btn">Next page</button>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-profile-section"><a href="https://github.com/mohammedsaji/mohammedsaji" target="_blank" rel="noopener noreferrer">GitHub </a>
            <a href="http://www.linkedin.com/in/mohammed-shajith-e" target="_blank" rel="noopener noreferrer"> LinkedIn </a>
            <a href="mailto:althafshajid@gmail.com"> Gmail </a>
        </div>
        <p>&copy; 2026 Passage Logistics Systems. All rights reserved.</p>
    </footer>
</div>
<div id="custom-alert" class="custom-alert">
    <div class="custom-alert-box">
        <div id="custom-alert-message" class="custom-alert-message"></div>
        <button type="button" id="custom-alert-close">OK</button>
    </div>
</div>
<script src="../../js/utility/customAlert.js"></script>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/operator/operatorList.js"></script>
</body>
</html>