<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shipment Creation Form</title>
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/shipment/shipmentForm.css">
    <link rel="stylesheet" href="/styles/utils/customAlert.css">
</head>
<body>
<div class="shipment">
    <header class="shipment-header">
        <div class="shipment-header-brand">
            <img class="shipment-header-logo" src="../../imgs/PLS.png" alt="Passage Logistics Systems">
        </div>
        <div class="shipment-header-actions">
            <div class="shipment-header-section-a">
                <button type="button" id="dashboard-btn">Dashboard</button>
            </div>
        </div>
    </header>
    <main class="shipment-body">
        <div class="shipment-body-shipment-display">
            <form class="shipment-body-shipment-form">
                <!-- Cargo Details -->
                <fieldset>
                    <legend>Cargo Details</legend>
                    <div>
                        <label for="cargo-name">Cargo Name :</label>
                        <input id="cargo-name" type="text" maxlength="250" required>
                    </div>
                    <div>
                        <label for="cargo-weight">Cargo Weight :</label>
                        <input id="cargo-weight" type="text" maxlength="100" required>
                    </div>
                    <div>
                        <label for="cargo-quantity">Cargo Quantity :</label>
                        <input id="cargo-quantity" type="text" maxlength="100" required>
                    </div>
                    <div>
                        <label for="cargo-type">Cargo Type :</label>
                        <input id="cargo-type" type="text" maxlength="100" required>
                    </div>
                    <div>
                        <label for="cargo-description">Cargo Description :</label>
                        <textarea id="cargo-description" maxlength="500" required></textarea>
                    </div>
                </fieldset>
                <!-- Customer Details -->
                <fieldset>
                    <legend>Customer Details</legend>
                    <div>
                        <label for="customer-name">Customer Name :</label>
                        <input id="customer-name" type="text" maxlength="250" required>
                    </div>
                    <div>
                        <label for="customer-email">Customer Email :</label>
                        <input id="customer-email" type="email" required>
                    </div>
                    <div>
                        <label for="customer-phoneno">Customer Phone No :</label>
                        <input id="customer-phoneno" type="text" maxlength="25" required>
                    </div>
                </fieldset>
                <!-- Shipment Details -->
                <fieldset>
                    <legend>Shipment Details</legend>
                    <div class="shipment-body-location">
                        <div class="shipment-body-location-field">
                            <label for="shipping-from">Shipping From</label>
                            <input type="search" id="shipping-from" name="shipping-from" placeholder="Enter origin pickup the cargo" autocomplete="off" required>
                        </div>
                        <div id="location-suggestions-origin"></div>
                    </div>
                    <div>
                        <label for="origin-latitude">Origin Latitude :</label>
                        <input type="text" id="origin-latitude" readonly>
                    </div>
                    <div>
                        <label for="origin-longitude">Origin Longitude :</label>
                        <input type="text" id="origin-longitude" readonly>
                    </div>
                    <div class="shipment-body-location">
                        <div class="shipment-body-location-field">
                            <label for="current-location">Operator Destination</label>
                            <input type="search" id="current-location" name="currentLocation" placeholder="Enter operator destination for delivery" autocomplete="off" required>
                        </div>
                        <div id="location-suggestions"></div>
                    </div>
                    <div>
                        <label for="current-latitude" >Current Latitude :</label>
                        <input type="text" id="current-latitude" readonly>
                    </div>
                    <div>
                        <label for="current-longitude" >Current Longitude :</label>
                        <input type="text" id="current-longitude" readonly>
                    </div>
                    <div class="shipment-body-location">
                        <div class="shipment-body-location-field">
                            <label for="shipping-to">Shipping To</label>
                            <input type="search"
                                   id="shipping-to" name="shipping-to" placeholder="Enter destination to delivery cargo" autocomplete="off" required>
                        </div>
                        <div id="location-suggestions-destination"></div>
                    </div>
                    <div>
                        <label for="destination-latitude">Destination Latitude :</label>
                        <input type="text" id="destination-latitude" readonly>
                    </div>
                    <div>
                        <label for="destination-longitude">Destination Longitude :</label>
                        <input type="text" id="destination-longitude" readonly>
                    </div>
                    <div>
                        <label for="delivery-date">Delivery Date :</label>
                        <input id="delivery-date" type="datetime-local" required>
                    </div>
                </fieldset>
                <!-- Carrier Information -->
                <fieldset>
                    <legend>Carrier Information</legend>
                    <div>
                        <label for="operator-id">Operator ID :</label>
                        <input id="operator-id" type="number" readonly>
                    </div>
                    <div>
                        <label for="driver-id">Driver ID :</label>
                        <input id="driver-id" type="number" readonly>
                    </div>
                    <div>
                        <label for="vehicle-id">Vehicle ID :</label>
                        <input id="vehicle-id" type="number" readonly>
                    </div>
                </fieldset>
                <div id="shipment-actions" class="shipment-body-shipment-actions">
                    <button type="submit" id="create-btn">Create</button>
                </div>
            </form>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-profile-section">
            <a href="https://github.com/mohammedsaji/mohammedsaji" target="_blank" rel="noopener noreferrer">GitHub </a>
            <a href="http://www.linkedin.com/in/mohammed-shajith-e" target="_blank" rel="noopener noreferrer"> LinkedIn </a>
            <a href="mailto:althafshajid@gmail.com"> Gmail </a>
        </div>
        <p>&copy; 2026 Passage Logistics Systems. All rights reserved.</p>
    </footer>
</div>
<div id="custom-alert" class="custom-alert">
    <div class="custom-alert-box">
        <div id="custom-alert-message" class="custom-alert-message"></div>
        <button type="button" id="custom-alert-close">OK</button>
    </div>
</div>

<script src="../../js/utility/customAlert.js"></script>
<script src="../../js/utility/photonGeoLocator.js"></script>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/shipment/shipmentForm.js"></script>

</body>
</html>