<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee list</title>
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/employee/employeeList.css">
    <link rel="stylesheet" href="/styles/utils/customAlert.css">
</head>
<body>
<div class="employee">
    <header class="employee-header">
        <div class="employee-header-brand">
            <img class="employee-header-logo" src="../../imgs/PLS.png" alt="Passage Logistics Systems">
        </div>
        <div class="employee-header-actions">
            <div class="employee-header-section-a">
                <button type="button" id="dashboard-btn">Dashboard</button>
            </div>
            <div class="employee-header-section-b">
                <nav class="employee-navigation" aria-label="Employee navigation">
                    <div class="employee-navigation-group">
                        <button type="button" id="employee-navigation-btn">Employee</button>
                        <div class="employee-navigation-menu" id="employee-navigation-menu">
                            <a href="#" id="create-employee-btn">Create Employee</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="employee-body">
        <div class="employee-body-search">
            <label for="search">Search employee :</label>
            <input id="search" type="text" placeholder="Search by employee name" maxlength="250">
            <button id="search-btn">Search</button>
        </div>
        <div class="employee-body-list">
            <div id="employee-list-container">
                <!-- Employee items will be rendered here -->
            </div>
        </div>
        <div class="employee-body-pagination">
            <button id="previous-page-btn">Previous page</button>
            <button id="next-page-btn">Next page</button>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-profile-section">
            <a href="https://github.com/mohammedsaji/mohammedsaji" target="_blank" rel="noopener noreferrer">GitHub </a>
            <a href="http://www.linkedin.com/in/mohammed-shajith-e" target="_blank" rel="noopener noreferrer"> LinkedIn </a>
            <a href="mailto:althafshajid@gmail.com"> Gmail </a>
        </div>
        <p>&copy; 2026 Passage Logistics Systems. All rights reserved.</p>
    </footer>
</div>
<div id="custom-alert" class="custom-alert">
    <div class="custom-alert-box">
        <div id="custom-alert-message" class="custom-alert-message"></div>
        <button type="button" id="custom-alert-close">OK</button>
    </div>
</div>
<script src="../../js/utility/customAlert.js"></script>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/employee/employeeList.js"></script>
</body>
</html>