<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee screen</title>
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/employee/employee.css">
    <link rel="stylesheet" href="/styles/utils/customAlert.css">
</head>
<body>
<div class="employee">
    <header class="employee-header">
        <div class="employee-header-brand">
            <img class="employee-header-logo" src="../../imgs/PLS.png" alt="Passage Logistics Systems">
        </div>
        <div class="employee-header-actions">
            <div class="employee-header-section-a">
                <button type="button" id="dashboard-btn">Dashboard</button>
            </div>
            <div class="employee-header-section-b">
                <nav class="employee-navigation" aria-label="Employee navigation">
                    <div class="employee-navigation-group">
                        <button type="button" id="employee-navigation-btn">Employee</button>
                        <div class="employee-navigation-menu" id="employee-navigation-menu">
                            <a href="#" id="employee-list-btn">Manage Employees</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="employee-body">
        <div class="employee-body-employee-display">
            <form class="employee-body-employee-form">
                <div>
                    <label for="employee-id">Employee Id :</label>
                    <input type="text" id="employee-id" readonly>
                </div>
                <div>
                    <label for="employee-name">Employee name :</label>
                    <input type="text" id="employee-name">
                </div>
                <div>
                    <label for="employee-phone-no">Employee contact :</label>
                    <input type="text" id="employee-phone-no">
                </div>
                <div>
                    <label for="employee-department">Employee department :</label>
                    <input type="text" id="employee-department">
                </div>
                <div>
                    <label for="employee-joining-date">Employee joining date :</label>
                    <input type="datetime-local" id="employee-joining-date" readonly>
                </div>
                <div>
                    <label for="employee-status">Employee status :</label>
                    <input type="text" id="employee-status">
                </div>
                <div>
                    <label for="reporting-manager-id">Reporting manager Id :</label>
                    <input type="number" id="reporting-manager-id">
                </div>
                <div>
                    <label for="created-at">Created at :</label>
                    <input type="text" id="created-at" readonly>
                </div>
                <div>
                    <label for="updated-at">Updated at :</label>
                    <input type="text" id="updated-at" readonly>
                </div>
                <div>
                    <label for="updated-by">Updated by :</label>
                    <input type="text" id="updated-by" readonly>
                </div>
            </form>

            <div id="employee-body-account-display" class="employee-body-account-display">
                <form class="employee-body-account-form">
                    <div>
                        <label for="account-id">Account Id :</label>
                        <input type="text" id="account-id" readonly>
                    </div>
                    <div>
                        <label for="account-username">Account username :</label>
                        <input type="text" id="account-username" readonly>
                    </div>
                    <div>
                        <label for="account-role">Account role :</label>
                        <input type="text" id="account-role" readonly>
                    </div>
                    <div>
                        <label for="account-status">Account status :</label>
                        <input type="text" id="account-status" readonly>
                    </div>
                    <div>
                        <label for="account-email">Account email :</label>
                        <input type="email" id="account-email" readonly>
                    </div>
                </form>
            </div>
        </div>
        <div id="employee-body-employee-actions" class="employee-body-employee-actions">
            <button id="update-btn">Update</button>
            <button id="delete-btn">Delete</button>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-profile-section">
            <a href="https://github.com/mohammedsaji/mohammedsaji" target="_blank" rel="noopener noreferrer">GitHub </a>
            <a href="http://www.linkedin.com/in/mohammed-shajith-e" target="_blank" rel="noopener noreferrer">
                LinkedIn </a>
            <a href="mailto:althafshajid@gmail.com"> Gmail </a>
        </div>
        <p>&copy; 2026 Passage Logistics Systems. All rights reserved.</p>
    </footer>
</div>
<div id="custom-alert" class="custom-alert">
    <div class="custom-alert-box">
        <div id="custom-alert-message" class="custom-alert-message"></div>
        <button type="button" id="custom-alert-close">OK</button>
    </div>
</div>
<script src="../../js/utility/customAlert.js"></script>
<script src="../../js/utility/utility.js"></script>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/employee/employee.js"></script>
</body>
</html>