.manager {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.manager-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.manager-header-brand {
    display: flex;
    align-items: center;
}

.manager-header-logo {
    max-width: 10rem;
    height: auto;
}

.manager-header-actions {
    display: flex;
    align-items: center;
}

.manager-header-section-a {
    display: flex;
    align-items: center;
}

.manager-header-section-a button {
    width: auto;

    background: transparent;
    color: var(--text);
    border: var(--border-width) solid var(--text);
    transition: background-color 0.2s ease, color 0.2s ease;
}

.manager-header-section-a button:hover {
    background-color: #ffffff;
    color: #000000;
    opacity: 1;
}

.manager-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 24px;
}

.manager-body-form {
    width: 100%;
    max-width: 50rem;
}

.manager-body-manager-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border: 1px solid var(--border);
    padding: 32px;
}

.manager-body-manager-form > label {
    margin-top: 0;
}

.manager-body-manager-form > input,
.manager-body-manager-form > select {
    width: 100%;
}

#operator-id-display {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.manager-body-manager-actions {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.manager-body-manager-actions button {
    width: auto;
}