<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver form</title>
    <link rel="stylesheet" href="../../styles/global.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/driver/driverCreationForm.css">
    <link rel="stylesheet" href="/styles/utils/customAlert.css">
</head>
<body>
<div class="driver">
    <header class="driver-header">
        <div class="driver-header-brand">
            <img class="driver-header-logo" src="../../imgs/PLS.png" alt="Passage Logistics Systems">
        </div>
        <div class="driver-header-actions">
            <div class="driver-header-section-a">
                <button id="dashboard-btn">Dashboard</button>
            </div>
        </div>
    </header>
    <main class="driver-body">
        <div class="driver-body-form">
            <form class="driver-body-driver-form">
                <div>
                    <label for="driver-name">Driver Name </label>
                    <input id="driver-name" type="text" maxlength="250" required>
                </div>
                <div>
                    <label for="driver-phone-no">Driver Phone No </label>
                    <input id="driver-phone-no" type="text" maxlength="25" required>
                </div>
                <div>
                    <label for="driver-license-no">Driver License No </label>
                    <input id="driver-license-no" type="text" maxlength="20" required>
                </div>
                <div id="operator-id-display" style="display:none;">
                    <label for="operator-id">Operator ID </label>
                    <input id="operator-id" type="text" readonly>
                </div>
                <div id="driver-body-driver-actions">
                    <button type="submit" id="create-btn">Create</button>
                </div>
            </form>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-profile-section"><a href="https://github.com/mohammedsaji/mohammedsaji" target="_blank" rel="noopener noreferrer">GitHub </a>
            <a href="http://www.linkedin.com/in/mohammed-shajith-e" target="_blank" rel="noopener noreferrer"> LinkedIn </a>
            <a href="mailto:althafshajid@gmail.com"> Gmail </a>
        </div>
        <p>&copy; 2026 Passage Logistics Systems. All rights reserved.</p>
    </footer>
</div>
<div id="custom-alert" class="custom-alert">
    <div class="custom-alert-box">
        <div id="custom-alert-message" class="custom-alert-message"></div>
        <button type="button" id="custom-alert-close">OK</button>
    </div>
</div>
<script src="../../js/utility/customAlert.js"></script>
<script src="../../js/ajaxCalls/ajaxCalls.js"></script>
<script src="../../js/driver/driverCreationForm.js"></script>
</body>
</html>