.password-forgot {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */

.password-forgot-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.password-forgot-header-brand {
    display: flex;
    align-items: center;
}

.password-forgot-header-logo {
    max-width: 10rem;
    height: auto;
}

/* Body */

.password-forgot-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

/* Password forgot section */

.password-forgot-form {
    width: 100%;
    max-width: 500px;
    padding: 2rem;

    border: var(--border-width) solid var(--border);
}

.password-forgot-form h2 {
    margin-top: 0;
    margin-bottom: 0.75rem;
}

.password-forgot-form > p {
    margin-top: 0;
    margin-bottom: 2rem;
    color: var(--text-muted);
}

/* Form */

#password-forgot-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#password-forgot-form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#password-forgot-form button {
    width: auto;
    align-self: center;
    background-color: #4adf0e;
    color: white;
}